@model MusicPortal.BLL.DTO.UserDTO
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Участники</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Access)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Access
                </td>
                <td>
                    <a asp-action="EditAccess" asp-route-id="@item.Id" class="btn btn-primary">Редактировать доступ</a> |
                    <a asp-action="DeleteUserView" asp-route-id="@item.Id" class="btn btn-danger">Удалить участника</a>
                </td>
            </tr>
        }
    </tbody>
</table>