
@model List<MusicFileShow>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >

    @{
        string currentSingerName = null;
        string currentStyleName = null;
        string currentSingerPoster = null;
    }
        @foreach (var musicViewModel in Model)
        {
       
            if (musicViewModel.SingerPoster != currentSingerPoster)
            {
             
            <div class="image"><img class="img" src="@Url.Content(@musicViewModel.SingerPoster)" alt="@musicViewModel.SingerName"></div>  
            currentSingerPoster = musicViewModel.SingerPoster;

            }
            
            if (musicViewModel.SingerName != currentSingerName)
            {
                <label class="singer">@musicViewModel.SingerName</label>
                currentSingerName = musicViewModel.SingerName;
            }

            if (musicViewModel.StyleName != currentStyleName)
            {   <span> - </span>
                <label class="stylename">@musicViewModel.StyleName</label>
                currentStyleName = musicViewModel.StyleName;
            } 
         

        <div style ="display: flex; justify-content: start; align-items: center; margin-bottom:5px;">
            <div style="width:300px">
                <label class="sing">@musicViewModel.MusicFileName</label>
                <span> - </span>
                <label class="size">@musicViewModel.MusicFileSize</label>
            </div>
            <audio controls class="custom-audio-player">
                <source src="@musicViewModel.MusicFilePath" type="audio/mpeg">
            </audio>
            @if (Context.Session.GetString("login") != null && Context.Session.GetString("Access") == "1")
            {
           <span>&nbsp;&nbsp;&nbsp;</span>
             
            @* <a asp-action="EditMusicFile" asp-route-id="@musicViewModel.MusicFileId" class="links" style="display:inline">Редактировать</a><span>&nbsp;|&nbsp;</span>
            <a asp-action="DeleteMusicFile" asp-route-id="@musicViewModel.MusicFileId" class="links" style="display:inline">Удалить</a> *@

                <a asp-action="EditMusicFile" asp-route-id="@musicViewModel.MusicFileId" class="btn btn-primary">Редактировать</a>
                <span>&nbsp;|&nbsp;</span>
                <a asp-action="DeleteMusicFile" asp-route-id="@musicViewModel.MusicFileId" class="btn btn-danger">Удалить</a>
            }

            

        </div>
             
                 
        }
    
 

</div>
 