@model MusicPortal.BLL.DTO.SingerDTO
@{
    ViewData["Title"] = "Singers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="namedoc">Исполнители</h3>

<p>
    <a asp-action="CreateSinger" class="links">Добавить Исполнителя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Singers)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-action="EditSinger" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a> |
                    <a asp-action="DeleteSingerView" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>