@model MusicPortal.BLL.DTO.StyleDTO
@{
    ViewData["Title"] = "Styles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="namedoc">Стили музыки</h3>

<p>
    <a asp-action="CreateStyle" class="links">Добавить Стиль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Styles)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-action="EditStyle" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a> |
                    <a asp-action="DeleteStyleView" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>